<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <div th:replace="common/common :: copy"></div>
    <title>Управление расписанием</title>
    <meta name="keywords" content="H-ui.admin">
    <meta name="description" content="H-ui.admin">
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add">

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>ID занятия：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="ID" name="ID">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>Предмет：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
				<select  name="courseNO" class="select valid" aria-required="true" aria-invalid="false">
					<option th:each="c : ${courseList}" th:value="${c.courseID}" th:text="${c.courseID + ' ' + c.courseName}">Все типы</option>
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>Группа:</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
				<select  name="classNO" class="select valid" aria-required="true" aria-invalid="false">
					<option th:each="c : ${classList}" th:value="${c.classNO}" th:text="${c.classShortname}">Все типы</option>
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>Преподаватель: </label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
				<select  name="teacherID" class="select valid" aria-required="true" aria-invalid="false">
					<option th:each="t : ${teacherList}" th:value="${t.teacherID}" th:text="${t.name}">Все типы</option>
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>Учебный год: </label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
				<select  name="schoolYear" class="select valid" aria-required="true" aria-invalid="false" >
					<option th:each="i:${#numbers.sequence(2000, 2099)}" th:selected="${#dates.format(new java.util.Date().getTime(), 'yyyy')}==${i}" th:text="${i}" th:value="${i}">Все типы</option>
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>Семестр: </label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
				<select  name="term" class="select valid" aria-required="true" aria-invalid="false" >
					<option value="0">Первый семестр</option>
					<option value="1">Второй семестр</option>
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>Выбор недели: </label>
            <div class="formControls col-xs-8 col-sm-9">
<!--                <input type="text" class="input-text" value="" placeholder="" id="startWeek" name="startWeek">-->
<!--                Выбор недели нужно доработать:-->
                <span class="select-box">
				<select  name="startWeek" class="select valid" aria-required="true" aria-invalid="false" >
					<option value="30.10.22-06.11.22">30.10.22-06.11.22</option>
					<option value="07.11.22-13.11.22">07.11.22-13.11.22</option>
					<option value="14.11.22-20.11.22">14.11.22-20.11.22</option>
					<option value="21.11.22-27.11.22">21.11.22-27.11.22</option>
					<option value="28.11.22-04.12.22">28.11.22-04.12.22</option>
					<option value="05.12.22-11.12.22">05.12.22-11.12.22</option>
					<option value="12.12.22-18.12.22">12.12.22-18.12.22</option>
					<option value="19.12.22-25.12.22">19.12.22-25.12.22</option>
					<option value="26.12.22-31.12.22">26.12.22-31.12.22</option>
                    <option value="Чётная">Чётная</option>
					<option value="Нечётная">Нечётная</option>
				</select>
				</span>

            </div>
        </div>
<!--        <div class="row cl">-->
<!--            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>До недели: </label>-->
<!--            <div class="formControls col-xs-8 col-sm-9">-->
<!--                <input type="text" class="input-text" value="" placeholder="" id="endWeek" name="endWeek">-->
<!--            </div>-->
<!--        </div>-->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>День недели: </label>
            <div class="formControls col-xs-8 col-sm-9">
<!--                <input type="text" class="input-text" value="" placeholder="" id="weekday" name="weekday">-->
                <span class="select-box">
				<select  name="weekday" class="select valid" aria-required="true" aria-invalid="false" >
					<option value="1">Понедельник</option>
					<option value="2">Вторник</option>
					<option value="3">Среда</option>
					<option value="4">Четверг</option>
					<option value="5">Пятница</option>
					<option value="6">Суббота</option>
					<option value="7">Воскресение</option>
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>Порядок занятия:</label>
            <div class="formControls col-xs-8 col-sm-9">
<!--                <input type="text" class="input-text" value="" placeholder="" id="section" name="section">-->
                <span class="select-box">
                <select  name="section" class="select valid" aria-required="true" aria-invalid="false" >
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>Место проведения：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
				<select  name="locationNo" class="select valid" aria-required="true" aria-invalid="false">
					<option th:each="l : ${locationList}" th:value="${l.locationNo}" th:text="${l.locationName}">Все типы</option>
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>Аудитория</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
				<select  name="classRoomNO" class="select valid" aria-required="true" aria-invalid="false">
					<option th:each="l : ${classRoomList}" th:value="${l.classRoomNO}" th:text="${l.classRoomNO}">Все типы</option>
				</select>
				</span>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input id="submit" class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;Сохранить&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>


<!--Далее следует логика-->
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript" th:inline="javascript">
    var ctxPath = [[@{/}]];
    $(function () {
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });
        $.validator.addMethod(  //Добавить пользовательскую функцию проверки
            "validateID",       //Имя пользовательской функции проверки
            function(value,element,params){
                var deferred = $.Deferred();//Создать отложенный объект
                $.ajax({        //Отправить Ajax запрос
                    type:"GET",
                    async:false,
                    url:ctxPath+"curriculum/isAvailableID",
                    dataType:"json",    //Тип данных — json, и данные, отправленные обратно, были автоматически проанализированы
                    data:{
                        ID:function(){return $("#ID").val();},
                    },
                    success:function(data){
                        if (data.code==100) {
                            console.log(100)
                            deferred.resolve();
                        } else {
                            deferred.reject();
                        }
                    }
                });
                return deferred.state() == "resolved" ? true : false;
            },
            "Повторяющийся ID, пожалуйста введите ещё раз!!!"
        );
            $("#form-admin-add").validate({
                rules: {
                    ID: {
                        required: true,
                        minlength: 1,
                        maxlength: 16,
                        validateID:true
                    },
                    courseNO: {
                        required: true,
                    },classNO: {
                        required: true,
                    },teacherID: {
                        required: true,
                    },schoolYear: {
                        required: true,
                    },term: {
                        required: true,
                    },startWeek: {
                        required: true,
                    // },endWeek: {
                    //     required: true,
                    },section: {
                        required: true,
                    },locationNo: {
                        required: true,
                    },classRoomNO: {
                        required: true,
                    },weekday: {
                        required: true,
                    }
                },
                onkeyup: false,
                focusCleanup: true,
                success: "valid",
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: ctxPath + "curriculum/curriculumAdd",
                        success: function (data) {
                            console.log(data)
                            if (data.code == 100) {
                                layer.msg('Успешно добавлено!', {icon: 1, time: 1000});
                                setTimeout(function() {
                                    var index = parent.layer.getFrameIndex(window.name);
                                    window.parent.location.reload();
                                    parent.layer.close(index);
                                },2000)
                            }
                            if (data.code == 500) {
                                layer.msg('Добавить не удалось!', {icon: 2, time: 1000});
                            }
                        },
                        error: function (XmlHttpRequest, textStatus, errorThrown) {
                            layer.msg('Ошибка!', {icon: 1, time: 1000});
                        }
                    });
                }
            });
        })
</script>
</body>
</html>