<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
	<div th:replace="common/common :: copy"></div>
<title>Управление студентами</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> Титульная страница <span class="c-gray en">&gt;</span> Список студентов <span class="c-gray en">&gt;</span> Управление студентами <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="Обновить" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="deleteBatchIds()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> Удалить </a>
			<a href="javascript:;" th:onclick="admin_add('Добавить',[[@{/}]]+'student/studentAdd','','550')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> Добавить студента</a></span> <span class="r">Количество студентов <strong id="count" th:text="${studentList.size()}">88</strong> </span> </div>
	<div class="mt-20">
	<table id="table" class="table table-border table-bordered table-hover table-bg table-sort" style="width: 100%;">
		<thead>
		<tr>
			<th scope="col" colspan="11">Список студентов</th>
		</tr>
		<tr class="text-c">
			<th width="25"><input id="checkbox" type="checkbox" name="" value=""></th>
			<th width="40">ID</th>
			<th width="150">ФИО</th>
			<th width="50">Пол</th>
<!--			<th width="140">Дата рождения</th>-->
			<th width="100">Факультет</th>
			<th width="80">Группа</th>
<!--			<th width="150">Адрес</th>-->
<!--			<th width="150">Телефон</th>-->
<!--			<th width="120">Примечание</th>-->
			<th width="80">Изменить</th>
		</tr>
		</thead>
		<tbody>
		<tr class="text-c" th:each="s : ${studentList}">
			<td><input type="checkbox" value="1" th:name="${s.studentID}"></td>
			<td th:text="${s.studentID}">1</td>
			<td th:text="${s.name}">1</td>
			<td th:if="${s.sex==1}">муж.</td>
			<td th:if="${s.sex==0}">жен.</td>
<!--			<td th:text="${#dates.format(s.birthday, 'yyyy-MM-dd')}">1</td>-->
			<td th:text="${s.facultyName}">1</td>
			<td th:text="${s.classShortname}">1</td>
<!--			<td th:text="${s.address}">1</td>-->
<!--			<td th:text="${s.phone}">1</td>-->
<!--			<td th:text="${s.remark}">1</td>-->
			<td class="td-manage">
				<a title="Редактировать" href="javascript:;" th:onclick="admin_edit('Редактирование',[[@{/}]]+'student/studentUpdate/'+[[${s.studentID}]],[[${s.studentID}]],'800','600')" class="ml-5" style="text-decoration:none">
					<i class="Hui-iconfont">&#xe6df;</i>
				</a>
				<a title="Удалить" href="javascript:;" th:onclick="admin_del(this,[[${s.studentID}]])" class="ml-5" style="text-decoration:none">
					<i class="Hui-iconfont">&#xe6e2;</i>
				</a>
			</td>
		</tr>
		</tbody>
	</table>
	</div>
</div>
<!--Далее идёт логика-->
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{/lib/datatables/1.10.15/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}"></script>
<script th:inline="javascript">
	$('.table-sort').dataTable();
	var ctxPath = [[@{/}]];

		function admin_add(title,url,w,h){
			layer_show(title,url,w,h);
		}

		function admin_del(obj,id){
			layer.confirm('Вы уверены, что хотите удалить?',{icon: 3, title:'Удаление', btn: ['Выполнить', 'Отмена']},function(index){
				$.ajax({
					type: 'POST',
					url: ctxPath+'student/deleteStudentById/',
					dataType: 'json',
					data:{'studentID':id},
					success: function(data){
						console.log(data)
						if (data.code==100){
							$(obj).parents("tr").remove();
							layer.msg('Удалено!',{icon:1,time:1000});
							setTimeout(function() {
								window.location.reload();
							},2000)
						}
						if (data.code==500){
							layer.msg('Удалить не удалось!',{icon:2,time:1000});
						}
					},
					error:function(data) {
						console.log(data.msg);
						return
					},
				});
			});
		}

		function admin_edit(title,url,id,w,h){
			layer_show(title,url,w,h);
		}

		function deleteBatchIds () {
			var ptag_ids = new Array();
			layer.confirm('Вы уверены, что хотите выполнить удаление?',{icon: 3, title:'Удаление', btn: ['Выполнить', 'Отмена']},function(index){
				$("#table input[type='checkbox']:checked").each(function() {
					// let id = $(this).parent().next().eq(0).text()
					let id = $(this).attr('name');
					if (!isNaN(id)) {
						ptag_ids.push(id);
					}
				});
				console.log(ptag_ids)

				$.ajax({
					type: 'POST',
					url: ctxPath+'student/deleteBatchIds',
					dataType: 'json',
					data:{"ids":JSON.stringify(ptag_ids)},
					success: function(data){
						console.log(data)
						if (data.code==100){
							layer.msg('Успешно удалено!', {icon: 6,time:1000});
							setTimeout(function() {
								window.location.reload();
							},2000)
						}
						if (data.code==500){
							layer.msg('Удаление выполнить не удалось!',{icon:2,time:1000});
						}
					},
					error:function(data) {
						console.log(data.msg);
						return
					},
				});
			});
        }
</script>
</body>
</html>